.container {
  text-align: center;
}

.borderless tbody tr td,
.borderless tbody tr th,
.borderless thead tr th {
  border: none;
}

.footer {
  font-variant: small-caps;
  font-style: italic;
  color: lightgrey;
}
