.container {
  text-align: center;
}

.data {
  display: none;
}

.header {
  font-size: 48pt;
  color: red;
  font-weight: bold;
}

.footer {
  font-variant: small-caps;
  font-style: italic;
  color: lightgrey;
}
