div(data-type='all').counter.lead
  p
    | Since 
    div.meta-start-date.h1 0000-00-00 00:00
    |  the phrase "YOLO" has been mentioned approximately
    div.h1
      span.counter-count.odometer 0
      |  times
    | on Twitter.
  p
    | That's about 
    span.counter-frequency.odometer 0
    strong  times per minute.
