html
  head
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/odometer-theme-car.css')
    link(rel='stylesheet', href='/css/styles.css')
  body
    div.container
      div.row
        div.col-md-8.col-md-offset-2
          h1 #YOLOWatch
          p
            em Tracking the decline of the English language
              span.data  since 
                strong.start-date
          hr
          
      div.row.loading
        div.col-md-8.col-md-offset-2
          h1 Loading ...
          
      div.row.data.hidden
        div.col-md-4.col-md-offset-4
          table.table.borderless.lead
            tbody
              include ../includes/index/counters/all.jade
              include ../includes/index/counters/current_hour.jade
              include ../includes/index/counters/current_day.jade
              include ../includes/index/counters/previous_day.jade
              include ../includes/index/counters/current_month.jade
              include ../includes/index/counters/current_year.jade

      div.row.footer
        div.col-md-8.col-md-offset-2
          hr
          include ../includes/footer.jade
    
    script(src='/js/odometer.min.js')
    script(src='/js/moment.min.js')
    script(src='/js/domtastic.min.js')
    script(src='/js/async.js')
    script(src='/js/site/api.js')
    script(src='/js/site/index/main.js')
    
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-71565656-1', 'auto');
      ga('send', 'pageview');
